body{
    background-color:rgb(209, 192, 192);
}
p{
    color: rgb(7, 71, 7);
    width: 100px;
    list-style-type:disc;
}

.vv{
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: rgb(114, 161, 114);
    text-align: center;
}
.lesson{
  display: flex;
  justify-content: space-evenly;
flex-wrap: wrap;
}
.vv:hover{
    box-shadow:  12px 21px 23px 17px rgba(0, 0, 0, 0.33);
}