*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.vik{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(70px,auto);
}
.header{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgb(240, 197, 159);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 110px;
}
.ua{
    width: 100px;
    height: 5   2px;
    background-color: burlywood;
    border-left: 1px solid black;
    padding: 0px 20px;
    
    
}
.ru{
    background-color: #4AD295;
    color: rgb(206, 195, 183);
}
h3{
    font-family: Suisse Intl Trial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;

}
.po{
    width: 116px;
    height: 52px;
    border-left: 1px solid black;
    padding: 0px 20px;
    background-color: burlywood;
}
.grey{
    font-family: Suisse Intl Trial;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

}
.pa{
    width: 125px;
    height: 52px;
    border-left: 1px solid black;
    padding: 0px 20px;
    background-color: burlywood;
}
.fa{
    margin: 6px;
    padding-top: 8px;
}
.pi{
    width: 224px;
    height: 62px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0px 20px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
}
.m>h2{
    font-family: Suisse Intl Trial;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: center;

}
.py{
    width: 325px;
    height: 62px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
}
.l{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}
input{
    height: 55px;
    width: 240px;
    background-color: #EFF3F6;
    padding-left: 20px;
   
}

.p{
    width: 55px;
    height: 55px;
    padding-bottom: 5px;
    background-color: rgb(77, 61, 41);
}
.p>img{
    width: 20px;
    margin: 17px;
}
.pyy{
    width: 325px;
    height: 62px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
}
.k{
    width: 55px;
    height: 55px;
    padding-bottom: 5px;
    background-color: rgb(77, 61, 41);
}
.k>img{
    width: 20px;
    margin: 17px;
}
h2{
    margin: 3px;
    padding-top: 8px;
}
.nav{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgb(255, 237, 220);
    height: 80px;
}
.nav>ul{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.nav ul li>a{
    font-family: Suisse Intl Trial;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color: #616161;

}
.nav ul li>ul{
    display: none;
    width: 220px;
    height: 35px;
    border: 0,5px solid #000000;

}

.nav>ul li{
    list-style-type: none;
    display: inline-block;
}
ul li:hover>ul{
    display: block;
    background-color: #FFFFFF;
    width: 210px;
    position: absolute;
    height: 231px;
    border: 0,5px solid #000000;
   

}
.nav ul li ul li>a{
    line-height: 30px;
    color: tomato;
    
}

.fon{
    background-image: url(./104276fb11cd5d5a5a2b9ed233bde285\ 1.svg);
    background-size: cover;
    height: 490px;
    padding-top: 104px;
    padding-left: 195px;
}
.fooo{
    height: 260px;
    width: 725px;
  
  

   }
.link{
   text-decoration: none;
   margin: 50px;
  
}
.fofo{
    border: 1px solid white;
    width: 250px;
    height: 45px;
    text-align: center;
    margin-bottom: 20px;
}
.fonfon{
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;

}
.fofon{
    background: #FFFFFF40;
    width : 270px;
    height : 60px;
    border: 2px solid white;
    text-align: center;
    margin-bottom: 20px;
   
}
.mommyr{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgb(255, 237, 220);
    height: 80px;
}
.mommy{
    background-image: url(./Rovinj-15\ 1.svg);
    background-size: cover;
    height: 490px;
}
.you{
    display: flex;
    align-items: center;
}






/*footer*/
.footer{
    background-color: gray;
    
}
.footer-top{
    height: 150px;
    border-bottom: 1px solid black;
    margin: 10px 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
li{
    list-style: none;
}
a{
    text-decoration: none;

}
.footer-item{
    width: 150px;
    height: 100px;
}

.footer-bottom{
    margin: 10px 200px;
    display: flex;
    justify-content: space-between;
 
   
}
.item-right{
    display: flex;
    align-items: end;
    width: 10%;
    
}
.item-left{
    display: flex;
    align-items: end;
    width:90%;
}
.item-right>ul{
    display: flex;
    justify-content: flex-end;
}
a{
    text-decoration: none;

}

