
.header{
    display: flex;
    width: 943px;
    justify-content: space-between;
     margin: 0 auto;

}
.link{
    color: black;
}
hr{
    width: 943px;
}
a{
    color: #828282;
    font-family: Gilroy-Bold;
    font-size: 18px;
    text-decoration: none;

}

/*main*/
.main{
    display: flex;
    justify-content: space-between;
    width: 943px;
    margin: 0 auto;
}
h1{
    font-family: Gilroy-Bold;
font-size: 47.3392px;
line-height: 59px;
color: #070707;
}
.main-item{
    width: 155px;
}
h3{
    font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
color: #070707;
padding-top: 80px;

}
.v{
   
    display: flex;
    justify-content: center;
}