*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
.startup{
    color:blanchedalmond;
background-color: rgb(0, 0, 0);
display: flex;
justify-content: center ;
flex-wrap: wrap;
padding: 10px;
font-size: larger;
height: 75vh;
}
.center{
    color:blanchedalmond;
    background-color: rgb(0, 0, 0);
    text-align: center;
 }
.finish{
    color: palevioletred;
    background-color: rgb(243, 217, 222);
    text-align: center;
    font-family: 'Scheherazade New', serif;
    padding: 10px;
font-size: larger;
height: 200px;
}
ul li{
    display: inline;
    margin: 20px;
}
.header{
    width: 20%;
   margin-left: 20px;
}
.nav{
    width: 75%;
    margin-top: 30px;
    text-align: right;
}
p{
    font-size: 35pt;
    margin: 20px;
    font-family: 'Italianno', cursive;


}
.link{
    border: 1px solid white;
    margin: 20px;
    padding: 20px;
}
h1{
    text-align: start;
    font-size: 45pt;
}
h2{
    margin-top: 20px;
}
.finish2{
    display: flex;
    justify-content: space-around;
    color: palevioletred;
    background-color: rgb(243, 217, 222);
    text-align: center;
}
