*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkseagreen;
}
nav{
    background-color: darkgreen;
    margin-top: 50px;
}
ul{
    position: relative;
}
a{
    color: black;
    font-size: 25px;
    text-decoration: none;
    margin: 30px;
    line-height: 60px;
}
nav ul li{
    display: inline-block;
}
nav ul li ul{
    display: none;
}
nav li:hover{
    background-color:rgb(86, 150, 86);
}
ul li:hover>ul{
    display: block;
    background-color:darkgreen ;
    width: 120px;
    position: absolute;
    left: 300px;
}
ul li ul li:hover>ul{
    display: block;
    background-color:darkgreen ;
    width: 120px;
    position: absolute;
    left: 120px;
    top:60px;

}
