*{
    padding: 0;
    margin: 0;
    font-size: 30px;
}
.neader{
    width: 100%;
    background-color: cornflowerblue;
  
    
}
.cards{
    width: 200px;
    height: 200px;
    background-color: burlywood;
    margin: 5px;
    display: inline-block;
}
@media (max-width:320px){
    .cards{
        display: block;
        background-color: chocolate;
    }

    .header{
        display: block;
    }
}
